# Bridely.sg API Configuration

# Base API Configuration
BRIDELY_BASE_URL=
BRIDELY_APP_ID=

# Venue Endpoint Configuration
BRIDELY_VENUES_DATASOURCE_ID=
BRIDELY_VENUES_ENDPOINT_ID=

# Vendor Category Endpoints
BRIDELY_ALL_VENDORS_ENDPOINT=
BRIDELY_MAKEUP_ARTISTS_ENDPOINT=
BRIDELY_VIDEOGRAPHERS_ENDPOINT=
BRIDELY_EMCEES_ENDPOINT=
BRIDELY_WEDDING_PLANNERS_ENDPOINT=
BRIDELY_JUSTICES_ENDPOINT=
BRIDELY_PHOTOBOOTHS_ENDPOINT=
BRIDELY_LIVE_MUSIC_ENDPOINT=
BRIDELY_WEDDING_CARS_ENDPOINT=
BRIDELY_WEDDING_FAVOURS_ENDPOINT=
BRIDELY_ENGAGEMENT_RINGS_ENDPOINT=
